@import './reset.scss';

:root {
    --main-color: #ffffff;
    --background-color: #f0f0f0;
    --cv-color: #444444;
    --blank-color: #c4c4c4;
    --shadow-color: #5e5e5e;
    --page-color: #222222;
}

body {
    background-color: var(--background-color);
    color: var(--main-color);
}

.dark-theme {
    --main-color: #000000;
    --background-color: #0f0f0f;
    --cv-color: #bbbbbb;
    --blank-color: #3b3b3b;
    --shadow-color: #a1a1a1;
    --page-color: #dddddd;
}

.cv {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1127px;
    height: 595px;
    position: absolute;
    display: flex;
    background-color: var(--cv-color);
    border-radius: 30px;
    font-family: 'Helvetica';
}

.cv__info {
    text-align: center;
    flex-grow: 1;

	.icon {
	    position: absolute;
	    left: 100px;
	    top: 70px;
	
		img {
		    background-color: var(--blank-color);
		    border-radius: 90px;
		    width: 180px;
		    height: 180px;
		    left: 100px;
		    top: 70px;
		    box-shadow: 12px 12px 0px var(--shadow-color);
		}
	}
	
	.name {
	    position: absolute;
	    height: 44px;
	    left: 65px;
	    top: 279px;
	    font-family: Helvetica;
	    font-style: normal;
	    font-weight: bold;
	    font-size: 38px;
	    line-height: 44px;
	    align-self: center;
	}
	
	.description {
	    position: absolute;
	    width: 127px;
	    height: 23px;
	    left: 126px;
	    top: 331px;
	    font-size: 20px;
	    line-height: 23px;
	}
	
	.achievements {
	    position: absolute;
	    top: 370px;
	    left: 139px;
	    display: flex;
	
	
		div {
		    width: 24px;
		    height: 24px;
		    border-radius: 12px;
		    background-color: var(--blank-color);
		    margin: 0px 5px;
		}
	}
	
	.download_button {
	    position: absolute;
	    width: 168px;
	    height: 46px;
	    left: 106px;
	    top: 451px;
	    border: 3px solid var(--main-color);
	    box-sizing: border-box;
	    border-radius: 40px;
	
	    .link {
		    position: relative;
		    top: 7px;
		    color: var(--main-color);
		    width: 105px;
		    height: 20px;
		    font-size: 17px;
		    line-height: 20px;
	    }
	    .link:link {
		    text-decoration: none;
	    }
	    .link:visited {
		    text-decoration: none;
	    }
	    .link:hover {
		    text-decoration: none;
	    }
	    .link:active {
		    text-decoration: none;
	    }
	}

	.copyright {
	    position: absolute;
	    left: 109px;
	    top: 563px;
	    font-size: 14px;
	    line-height: 16px;
	}
}

.cv__page {
    width: 747px;
    height: 595px;
    display: flex;
    background-color: var(--page-color);
    border-radius: 30px;
    text-align: center;
    flex-direction: column;
    justify-content: center;

	.name {
	    margin: 4px;
	    font-weight: bold;
	    font-size: 62px;
	    line-height: 71px;
	}
	
	.description {
	    margin: 4px;
	    font-weight: normal;
	    font-size: 22px;
	    line-height: 25px;
	}
}