@import './reset.scss';

:root {
    --main-color: #ffffff;
    --background-color: #f0f0f0;
    --cv-color: #444444;
    --blank-color: #c4c4c4;
    --shadow-color: #5e5e5e;
    --page-color: #222222;
    --button-position: 0%;
}

body {
    background-color: var(--background-color);
    color: var(--main-color);
    font-family: 'Helvetica';
}

.dark-theme {
    --main-color: #000000;
    --background-color: #0f0f0f;
    --cv-color: #bbbbbb;
    --blank-color: #3b3b3b;
    --shadow-color: #a1a1a1;
    --page-color: #dddddd;
    --button-position: 100%;
}

.cv {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1127px;
    min-height: 595px;
    position: absolute;
    display: flex;
    background-color: var(--cv-color);
    border-radius: 30px;

    button {
        background-color: var(--cv-color);
        border: 3px solid var(--main-color);
        border-radius: 25px;
        color: var(--main-color);
        font-size: 17px;
    }

}

.cv_info {
    align-items: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

	.avatar_icon {
	    margin-top: 70px;	
	    background-image: url(assets/icon.jpg);
	    background-size: cover;
	    border-radius: 90px;
	    width: 180px;
	    height: 180px;
	    box-shadow: 12px 12px 0px var(--shadow-color);
	}
	
	.name {
	    margin-top: 28px;
	    margin-bottom: 0px;
	    font-size: 38px;
	    line-height: 44px;
	}
	
	.description {
	    margin-top: 8px;
	    margin-bottom: 0px;
	    font-weight: normal;
	    font-size: 20px;
	    line-height: 23px;
	}
	
	.contacts {
	    margin-top: 16px;
	    margin-bottom: 0px;
	    padding-inline-start: 0px;

	.vk_icon {
	    background-image: url(assets/vk.ico);
	}

	.ok_icon {
	    background-image: url(assets/ok.ico);
	}

	.github_icon {
	    background-image: url(assets/github.ico);
	}

		li {
		    width: 24px;
		    height: 24px;
		    border-radius: 12px;
		    background-color: #ffffff;
		    background-size: cover;
		    margin: 0px 2px;
		    display: inline-block;
		}
	}
	
	.download-button {
	    margin: auto;
	    margin-top: 53px;
	    padding: 10px 29px 11px;
	}

	.copyright {
	    margin: auto;
	    margin-bottom: 17px;
	    font-weight: normal;
	    font-size: 14px;
	}
}

.cv_page {
    width: 747px;
    display: flex;
    background-color: var(--page-color);
    border-radius: 30px;
    text-align: center;
    flex-direction: column;
    justify-content: center;

	.name {
	    margin: 4px;
	    font-size: 62px;
	    line-height: 71px;
	}
	
	.description {
	    margin: 4px;
	    font-weight: normal;
	    font-size: 22px;
	    line-height: 25px;
	}
}

.color_switch {
    position: fixed;
    left: 90vw;
    top: 90vh;
    width: 64px;
    height: 64px;
    border-radius: 16px;
    background-size: cover;
    background-image: url(assets/light.png);
    background-position: var(--button-position);
    background-color: var(--background-color);
}