
:root {
    --main_color: #ffffff;
    --background-color: #f0f0f0;
    --cv_color: #444444;
    --blank_color: #c4c4c4;
    --shadow_color: #5e5e5e;
    --page_color: #222222;
}

body {
    background-color: var(--background-color);
    color: var(--main_color);
}

body:active {
    --main_color: #000000;
    --background-color: #0f0f0f;
    --cv_color: #bbbbbb;
    --blank_color: #3b3b3b;
    --shadow_color: #a1a1a1;
    --page_color: #dddddd;
}

.cv {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1127px;
    height: 595px;
    position: absolute;
    display: flex;
    background-color: var(--cv_color);
    border-radius: 30px;
    font-family: 'Helvetica';
}

.cv_info {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

	.cv_info .icon {
	    margin-top: 70px;
	}
	
		.cv_info .icon img {
		    background-color: var(--blank_color);
		    border-radius: 90px;
		    width: 180px;
		    height: 180px;
		    left: 100px;
		    top: 70px;
		    box-shadow: 12px 12px 0px var(--shadow_color);
		}
	
	.cv_info .name {
	    margin-top: 23px;
	    margin-bottom: 0px;
	    font-style: normal;
	    font-weight: bold;
	    font-size: 38px;
	    line-height: 44px;
	    align-self: center;
	}
	
	.cv_info .description {
	    margin-top: 8px;
	    margin-bottom: 0px;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 20px;
	    line-height: 23px;
	}
	
	.cv_info .achievements {
	    margin-top: 16px;
	    margin-bottom: 0px;
	    padding-inline-start: 0px
	}
	
		.cv_info .achievements li {
		    width: 24px;
		    height: 24px;
		    border-radius: 12px;
		    background-color: var(--blank_color);
		    margin: 0px 5px;
		    display: inline-block;
		}
	
	.cv_info .download_button {
	    margin: auto;
	    margin-top: 53px;
	    width: 168px;
	    height: 46px;
	    border: 3px solid var(--main_color);
	    box-sizing: border-box;
	    border-radius: 40px;
	}
	
		.cv_info .download_button .link {
		    text-decoration: none;
		    position: relative;
		    top: 7px;
		    color: var(--main_color);
		    width: 105px;
		    height: 20px;
		    font-size: 17px;
		    line-height: 20px;
		}
	
	
	.cv_info .copyright {
	    margin: auto;
	    margin-bottom: 17px;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 14px;
	}

.cv_page {
    width: 747px;
    height: 595px;
    display: flex;
    background-color: var(--page_color);
    border-radius: 30px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

	.cv_page .name {
	    margin: 4px;
	    font-weight: bold;
	    font-size: 62px;
	    line-height: 71px;
	}
	
	.cv_page .description {
	    margin: 4px;
	    font-weight: normal;
	    font-size: 22px;
	    line-height: 25px;
	}